<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net452" />
  <package id="NEventStore" version="5.2.0" targetFramework="net452" />
  <package id="NEventStore.Persistence.MongoDB" version="5.2.0" targetFramework="net452" />
</packages>